*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #252b42;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252b42;
    
}

.header ul li{
    display: flex;
}

